In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df=pd.read_csv('covid_toy.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [27]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [29]:
df['city'].describe()

count         100
unique          4
top       Kolkata
freq           32
Name: city, dtype: object

In [5]:
from sklearn.model_selection import

In [38]:
xtrain,xtest,ytain,ytest=train_test_split(df.drop('has_covid',axis=1),df['has_covid'],test_size=0.2)
xtrain

    age  gender  fever   cough       city
39   50  Female  103.0    Mild    Kolkata
31   83    Male  103.0    Mild    Kolkata
70   68  Female  101.0  Strong      Delhi
42   27    Male  100.0    Mild      Delhi
0    60    Male  103.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
13   64    Male  102.0    Mild  Bangalore
67   65    Male   99.0    Mild  Bangalore
73   34    Male   98.0  Strong    Kolkata
95   12  Female  104.0    Mild  Bangalore
72   83  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

**1.Normal Way**

In [15]:
#ading simple imputer to fevel col
imputer=SimpleImputer()
xtrain_fever=imputer.fit_transform(xtrain[['fever']]) #missing values reaplced by mean
xtrain_fever

array([[101.09589041],
       [ 98.        ],
       [101.09589041],
       [104.        ],
       [103.        ],
       [ 99.        ],
       [103.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 99.        ],
       [101.09589041],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [101.        ],
       [104.        ],
       [102.        ],
       [101.        ],
       [102.        ],
       [103.        ],
       [101.        ],
       [101.        ],
       [102.        ],
       [104.        ],
       [101.        ],
       [ 99.        ],
       [101.        ],
       [ 99.        ],
       [102.        ],
       [101.        ],
       [103.        ],
       [102.        ],
       [ 98.        ],
       [104.        ],
       [101.09589041],
       [102.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [ 98.        ],
       [100.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [100.        ],
       [101.09589041],
       [102.        ],
       [100.        ],
       [103.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [101.09589041],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [ 99.        ],
       [ 98.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [103.        ],
       [101.09589041],
       [ 99.        ],
       [104.        ],
       [104.        ],
       [ 98.        ],
       [ 98.        ],
       [100.        ],
       [101.        ],
       [101.        ],
       [100.        ],
       [100.        ],
       [104.        ],
       [102.        ],
       [100.        ],
       [104.        ],
       [101.        ]])

In [21]:
#ordinal data-cough
oe=OrdinalEncoder(categories=[['Mild','Strong']],dtype=int)
oe.fit_transform(df[['cough']])

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1]])

In [32]:
#one hot encoding-gender,city
# ohe=OneHotEncoder(drop='first',dtype=int)
# ohe.fit_transform(df[['gender','city']]).toarray()
ohe=OneHotEncoder(drop='first',dtype=int,sparse_output=False)
ohe.fit_transform(df[['gender','city']])

array([[1, 0, 1, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [1, 1, 0, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [1, 0, 1, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0]])

**2.Using Column Transformer**

In [42]:
from sklearn.compose import ColumnTransformer

In [47]:
trans=ColumnTransformer(transformers=[
  ('t1',SimpleImputer(),['fever']),
    ('t2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('t3',OneHotEncoder(drop='first',dtype=np.int32,sparse_output=False),['gender','city'])
    
],remainder='passthrough')

In [48]:
pd.DataFrame(trans.fit_transform(xtrain))

        0    1    2    3    4    5     6
0   103.0  0.0  0.0  0.0  1.0  0.0  50.0
1   103.0  0.0  1.0  0.0  1.0  0.0  83.0
2   101.0  1.0  0.0  1.0  0.0  0.0  68.0
3   100.0  0.0  1.0  1.0  0.0  0.0  27.0
4   103.0  0.0  1.0  0.0  1.0  0.0  60.0
..    ...  ...  ...  ...  ...  ...   ...
75  102.0  0.0  1.0  0.0  0.0  0.0  64.0
76   99.0  0.0  1.0  0.0  0.0  0.0  65.0
77   98.0  1.0  1.0  0.0  1.0  0.0  34.0
78  104.0  0.0  0.0  0.0  0.0  0.0  12.0
79  101.0  0.0  0.0  0.0  1.0  0.0  83.0

[80 rows x 7 columns]